@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.text {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: green;
    text-shadow: 1px 1px 1px black;
}

canvas {
    border: 4px solid black;
}